@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
#header4-e H1 {
  font-size: 60px;
}
#header3-12 H3 {
  font-size: 30px;
}
#features1-k .mbr-section__col .mbr-header__text {
  font-size: 20px;
  color: #ffffff;
}
#features1-k P {
  color: #ffffff;
}
#menu-a .mbr-brand__name {
  font-size: 16px;
}
#menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #404040;
}
#menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-a .mbr-navbar__items a {
  font-size: 18px;
}
#features1-y .mbr-section__col .mbr-header__text {
  font-size: 20px;
  color: #ffffff;
}
#features1-y P {
  color: #ffffff;
}
#features1-11 .mbr-section__col .mbr-header__text {
  font-size: 20px;
  color: #ffffff;
}
#features1-11 P {
  color: #ffffff;
}
#contacts1-b B {
  font-size: 18px;
}
#contacts1-b P {
  font-size: 18px;
}
#footer1-c P {
  font-size: 16px;
  text-align: center;
}
#header4-j H1 {
  font-size: 60px;
}
#header4-j P {
  font-size: 21px;
}
#menu-n .mbr-brand__name {
  font-size: 16px;
}
#menu-n.mbr-navbar--stuck .mbr-navbar__section {
  background: #404040;
}
#menu-n .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-n .mbr-navbar__items a {
  font-size: 18px;
}
#contacts1-o B {
  font-size: 18px;
}
#contacts1-o P {
  font-size: 18px;
}
#footer1-p P {
  font-size: 16px;
  text-align: center;
}
#header4-q H1 {
  font-size: 60px;
}
#form1-x .mbr-header__text DIV {
  text-align: left;
  font-size: 14px;
}
#form1-x .mbr-header__text {
  text-align: left;
  font-size: 30px;
}
#menu-u .mbr-brand__name {
  font-size: 16px;
}
#menu-u.mbr-navbar--stuck .mbr-navbar__section {
  background: #404040;
}
#menu-u .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-u .mbr-navbar__items a {
  font-size: 18px;
}
#contacts1-v B {
  font-size: 18px;
}
#contacts1-v P {
  font-size: 18px;
}
#footer1-w P {
  font-size: 16px;
  text-align: center;
}

#menu-d .mbr-brand__name {
  font-size: 16px;
}
#menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #404040;
}
#menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-d .mbr-navbar__items a {
  font-size: 18px;
}
#header1-e DIV {
  font-size: 60px;
  text-align: left;
}
#header1-e H1 {
  font-size: 60px;
  color: #28324e;
  text-align: left;
  font-family: 'Arimo', sans-serif;
}
#header1-e P {
  text-align: left;
}
#header3-f H3 {
  text-align: center;
  font-size: 32px;
}
#header3-f P {
  text-align: right;
}
#features1-g P {
  text-align: center;
  color: #777777;
}
#features1-g .mbr-section__col .mbr-header__text {
  font-size: 24px;
  color: #252525;
}
#msg-box3-h .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 46px;
}
#msg-box3-h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-h .mbr-article P {
  text-align: center;
}
#contacts1-i B {
  font-size: 18px;
}
#contacts1-i P {
  font-size: 18px;
}
#footer1-j P {
  font-size: 16px;
  text-align: center;
}

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #404040;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-navbar__items a {
  font-size: 18px;
}
#header1-1 DIV {
  font-size: 60px;
  text-align: right;
}
#header1-1 H1 {
  font-size: 60px;
  color: #1abc9c;
  text-align: left;
  font-family: 'Arimo', sans-serif;
}
#header1-1 P {
  text-align: left;
}
#header3-10 H3 {
  text-align: center;
  font-size: 32px;
}
#header3-10 P {
  text-align: right;
}
#features1-2 P {
  text-align: center;
}
#features1-2 .mbr-section__col .mbr-header__text {
  font-size: 24px;
}
#msg-box3-7 .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 46px;
}
#msg-box3-7 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-8 B {
  font-size: 18px;
}
#contacts1-8 P {
  font-size: 18px;
}
#footer1-9 P {
  font-size: 16px;
  text-align: center;
}
#menu-s .mbr-brand__name {
  font-size: 16px;
}
#menu-s.mbr-navbar--stuck .mbr-navbar__section {
  background: #404040;
}
#menu-s .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-s .mbr-navbar__items a {
  font-size: 18px;
}
#contacts1-t B {
  font-size: 18px;
}
#contacts1-t P {
  font-size: 18px;
}
#footer1-u P {
  font-size: 16px;
  text-align: center;
}
